* {
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
}  

body{
    cursor: url('https://cur.cursors-4u.net/games/gam-13/gam1292.cur'), auto;
}


.color-base {
    background-color: rgba(73, 145, 253, 0.703);
    color: rgb(23, 33, 101);

}

@font-face {
    font-family: 'Pokemon';
    /* Nombre de la fuente que deseas utilizar */
    src: url('./fonts/poke-font.ttf') format('woff');
    /* Ruta a tu fuente y formato */
    /* Puedes agregar más formatos de fuente aquí si tienes diferentes versiones (woff, woff2, ttf, etc.) */
}

.logo {
    font-family: 'Pokemon', sans-serif;
}

input {
    background-color: aliceblue;
    border: none;
}

/*R.E.S.P.O.S.I.V.E*/
@media (max-width: 767px) {
    .mobile {
        width: 5em;
        height: 5em80px;
    }
}

@media screen and (max-width: 768px) {
    input[type="text"]::placeholder {

        font-size: 0.800em;

    }

    .logo {
        font-size: 0.875em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    input[type="text"]::placeholder {

        font-size: 1.125em;

    }

    .logo {
        font-size: 1.125em;
    }
}

.grid-t {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    text-align: center;
    font-size: 20px;

    
}

.grid-i {
    margin: auto;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 200px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}


.grid {
    margin: auto;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.grid-item {
    background-color: #4e4b5e;
    color: #fff;
    padding: 10px;

}

.grid img {
    margin: auto;
}

.dato {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: #444;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-weight: lighter;
}

.formularioCambio input{
    margin-bottom: 20px;
}

#env{
    background-color: green;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
}

.detalles{
    margin: 10px;
}

#volv{
   margin: 10px;
   align-self: flex-end;
}

#tip{
    margin-left: 350px;
}